@import "./mq.css";

a:global(.phenomic-HeadingAnchor) {
  display: none;
}

@media (--mq-gt-m) {
  a:global(.phenomic-HeadingAnchor) {
    display: inline-block;
    text-align: center;
    margin-left: -1.8rem;
    margin-right: 0.4rem;
    width: 1.4rem;
    line-height: 1.4rem;
    text-decoration: none;
    border-bottom: 0;
    opacity: 0.1;
    transition: opacity 0.2s;
  }

  a:global(.phenomic-HeadingAnchor):hover {
    opacity: 1;
    transition: opacity 0.2s;
    border-bottom: 0;
  }
}
