:root {
  --color_cream: #f7f6ef;
  --color_cream_light: #fdfdf9;
  --color_text_dark: #444;
  --color_text_light: #969696;
  --color_highlight: green;
  --color_gray: #9e9e9e;
  --color_gray_light: #cccccc;
}
